[submodule "Core"]
	path = Core
	url = https://github.com/mattearly/AncientArcher.git
	branch = isolation
[submodule "Randomization"]
	path = Randomization
	url = https://github.com/mattearly/rand.git
